@charset "UTF-8";

// ----------------------
// == Font includes
// ----------------------

/* @font-face {
	font-family: 'SF_Archery_Black';
	src:url('../../font/SF_Archery_Black/SF_Archery_Black.eot');
	src:url('../../font/SF_Archery_Black/SF_Archery_Black.eot?#iefix') format('embedded-opentype'),
		url('../../font/SF_Archery_Black/SF_Archery_Black.woff') format('woff'),
		url('../../font/SF_Archery_Black/SF_Archery_Black.ttf') format('truetype'),
		url('../../font/SF_Archery_Black/SF_Archery_Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../font/icomoon/icomoon.eot?-jhkxdn');
	src:url('../../font/icomoon/icomoon.eot?#iefix-jhkxdn') format('embedded-opentype'),
		url('../../font/icomoon/icomoon.woff?-jhkxdn') format('woff'),
		url('../../font/icomoon/icomoon.ttf?-jhkxdn') format('truetype'),
		url('../../font/icomoon/icomoon.svg?-jhkxdn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
 */