@charset "UTF-8";

// ----------------------
// == Reset styles
// ----------------------

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	// font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display:block;
}
input,
textarea{
	outline:none;
}
body {
	line-height: 1;
}
html,
body{
	height:100%;
}
a:hover,
a:focus,
a:active{
	text-decoration:none;
	outline: 0;
}
nav ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
b,
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
input, select {
	vertical-align:middle;
}
code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}